.seller-bcg {
  background-image: url('https://ik.imagekit.io/autobuyng/Autobuyimages/Rectangle%204252%201.jpg');
  background-position: center;
  background-size: cover;
  /* min-height: calc(100vh - 76px); */
}
